//It was a deliberate choice on my part to put the colors in a .scss file
// we could have also placed them in an enum, I am familiar with both options.
$deep-blue: #28287f;
$gold: #ffcb00;
$light-light-yellow: #FFF5C9;
$light-purple: #dfcfe1;
$light-yellow: #ffea90;
$white: #ffffff;
